/* Resetovanje stilova */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stilovi za telo stranice */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Stilovi za omotač forme */
.wrapper {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Stilovi za naslov forme */
.form header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Stilovi za input polja */
.field {
    margin-bottom: 20px;
}

.field label {
    display: block;
    margin-bottom: 5px;
}

.field input[type="text"],
.field input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Stilovi za dugme */
.field.button {
    text-align: center;
}

.field.button input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.field.button input[type="submit"]:hover {
    background-color: #45a049;
}

/* Stilovi za link ka registraciji */
.link {
    text-align: center;
    margin-top: 20px;
}

.link a {
    color: #007bff;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}
